@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;900&display=swap');

.container{
    height: 90px;
    padding:0px 50px;
    /* background-color: rgb(138, 223, 252); */
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
}
.logo{
    margin-top: 25px;
}
.list{
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}
.listItem{
    font-family: 'Catamaran', sans-serif;
    margin: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
 /* Footer */
 .footer{
    position: relative;
    top: 60px;
    left: 10px;
    font-family: 'Catamaran', sans-serif;
    left: 170px;
    letter-spacing: 2px;
    font-size: 24px;
}
/* Login/sign in */
.login{
    margin-left: 380px;
    display: inline-block;
 }
.button_1{
    font-size: 24px;
    font-family: 'Catamaran',sans-serif;
    background-color: #7749FB;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 12px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.button_1:hover{
    background-color: #1100f8;
}
.button_1:active {
    background-color: #1100f8;
    box-shadow: 0 2px rgb(18, 36, 71);
    transform: translateY(4px);
  }